<nav class="navbar">
  <div class="container">
    <a routerLink="/" class="navbar-brand">La Casa del Miele</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login-apicoltore" routerLinkActive="active" class="nav-link">Login Apicoltore</a>
      </li>
      <li class="nav-item">
        <a routerLink="/login-admin" routerLinkActive="active" class="nav-link">Login Admin</a>
      </li>
    </ul>
  </div>
</nav>
